#os
.DS_Store

#editor
.idea
.vscode

#git
.git
.gitignore
.github
.gitlab

#dotenv
.env
.env.local
.env.dev.local

#dependencies
node_modules

#build
build
dist

#local-db
.db
mongo
mongo/data
mongo/test/data

#logs
*.log

#docker
.dockerignore
Dockerfile

#docs
README.md
